In [1]:
import pandas as pd 
import numpy as np

In [2]:
hw=pd.read_csv(r"C:\Users\R\Desktop\real_data\hw_master_anm.csv")
hw.head()

,Unnamed: 0,district_id,district_name,block_id,block_name,phc_id,phc_name,sub_center_id,sub_center_name,anganwadi_id,...,total_deliveries,institutional_deliveries,unregistered_preg,lbw_followup_ref_reason,total_children_whose_at_least_4_hbncs_done,total_danger_signs_identified_at_hbncs,total_notified_death,total_confirmed_death,total_mchn_sessions_held,last_login_date_and_time
0,5252,34,Udaipur,274,Bhinder,5208,Vana,16040,Baroriya,NaN,...,11.0,9.0,NaN,0.0,NaN,NaN,NaN,NaN,51.0,29/09/23
1,5254,45,Khairthal-Tijara,14,Kishangarhbas,171,Ghasoli,715,Ghasoli,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,21/03/23
2,5259,10,Chittorgarh,97,Rawatbhata,1015,Ladpura,5370,Barkheda,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,06/03/24
3,5262,30,Sawai Madhopur,246,Bonli,2931,Bapui,14213,Bhorkheda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5264,33,Tonk,272,Uniara,3310,Kakod,15925,GOTHRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/10/23

In [3]:
hw['expected_pregnancies'] = (hw['registered_people'] * 25) / 1000
hw.head()

,Unnamed: 0,district_id,district_name,block_id,block_name,phc_id,phc_name,sub_center_id,sub_center_name,anganwadi_id,...,institutional_deliveries,unregistered_preg,lbw_followup_ref_reason,total_children_whose_at_least_4_hbncs_done,total_danger_signs_identified_at_hbncs,total_notified_death,total_confirmed_death,total_mchn_sessions_held,last_login_date_and_time,expected_pregnancies
0,5252,34,Udaipur,274,Bhinder,5208,Vana,16040,Baroriya,NaN,...,9.0,NaN,0.0,NaN,NaN,NaN,NaN,51.0,29/09/23,1.575
1,5254,45,Khairthal-Tijara,14,Kishangarhbas,171,Ghasoli,715,Ghasoli,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,21/03/23,0.300
2,5259,10,Chittorgarh,97,Rawatbhata,1015,Ladpura,5370,Barkheda,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,06/03/24,14.400
3,5262,30,Sawai Madhopur,246,Bonli,2931,Bapui,14213,Bhorkheda,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5264,33,Tonk,272,Uniara,3310,Kakod,15925,GOTHRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/10/23,NaN

In [4]:
# hw['% registered_people'] = (hw['registered_people'] / hw['target_pop']) * 100
# hw['% surveyed_people'] = (hw['surveyed_people'] / hw['registered_people']) * 100
hw['% expected_pregnancies'] = (hw['registered_pw'] / hw['expected_pregnancies']) * 100
hw['% early_pregnancy_registered'] = (hw['registered_within_12_weeks'] / hw['registered_pw']) * 100
hw['% atleast_4_ancs'] = (hw['atleast_4_ancs'] / hw['registered_pw']) * 100
hw['% delivery_outcome'] = (hw['total_deliveries'] / hw['registered_pw']) * 100

In [5]:
indicator_columns = [
    # '% registered_people',
    # '% surveyed_people',
'% expected_pregnancies',
'% early_pregnancy_registered',
'% atleast_4_ancs',
'% delivery_outcome',
]

In [6]:
hw['average_percentage'] = hw[indicator_columns].mean(axis=1)

# Rank health workers based on their average percentage
hw['rank'] = hw['average_percentage'].rank(ascending=False)

# Sort the DataFrame by rank
hw_sorted = hw.sort_values(by='rank')

# Handle infinite values
hw_sorted.replace([np.inf, -np.inf], 0, inplace=True)

# Select relevant columns to display (including original data and calculated indicators)
display_columns = hw.columns.tolist() + indicator_columns + ['average_percentage', 'rank']

In [7]:
hw_sorted = hw.sort_values(by='rank')
hw_sorted.head(10)

,Unnamed: 0,district_id,district_name,block_id,block_name,phc_id,phc_name,sub_center_id,sub_center_name,anganwadi_id,...,total_confirmed_death,total_mchn_sessions_held,last_login_date_and_time,expected_pregnancies,% expected_pregnancies,% early_pregnancy_registered,% atleast_4_ancs,% delivery_outcome,average_percentage,rank
11358,32793,34,Udaipur,281,Mavli,3396,Ghasa,16436,Ghasa,NaN,...,NaN,46.0,27/06/24,0.025,188000.000000,78.723404,0.000000,0.000000,47019.680851,1.0
110,5516,34,Udaipur,279,Kotra,3381,Bekariya,16338,Tej Ka Vas,NaN,...,NaN,6.0,04/07/24,0.025,176000.000000,34.090909,2.272727,0.000000,44009.090909,2.0
5915,18070,34,Udaipur,279,Kotra,3386,Malwa Ka Chora,16373,Ghani Ka Khet,NaN,...,NaN,1.0,04/07/24,0.025,112000.000000,57.142857,0.000000,42.857143,28025.000000,3.0
21658,60931,34,Udaipur,277,Jhadol,3364,Mohamad Phalasiya,16236,Mohamad Phalasiya,NaN,...,NaN,56.0,04/07/24,0.075,85333.333333,67.187500,1.562500,6.250000,21352.083333,4.0
3234,12324,34,Udaipur,384,Vallabh Nagar,3332,Modi,16038,Bichhiwara,NaN,...,NaN,8.0,23/05/24,0.025,76000.000000,63.157895,31.578947,0.000000,19023.684211,5.0
10864,31679,34,Udaipur,276,Gogunda,3360,Sayara,16203,Jemli,NaN,...,NaN,2.0,21/06/24,0.025,76000.000000,68.421053,0.000000,5.263158,19018.421053,6.0
20214,55025,34,Udaipur,277,Jhadol,3361,Jhadol Ph,16213,Kantharia,NaN,...,NaN,26.0,07/12/23,0.025,72000.000000,33.333333,0.000000,11.111111,18011.111111,7.0
16096,46012,34,Udaipur,281,Mavli,3398,Intali,16444,Bargaon,NaN,...,NaN,6.0,12/04/24,0.025,64000.000000,62.500000,6.250000,0.000000,16017.187500,8.0
11368,32813,34,Udaipur,282,Rishabdev,3412,Rishabhdev,16527,Ugmana Kotra,NaN,...,NaN,1.0,30/06/24,0.075,61333.333333,91.304348,6.521739,8.695652,15359.963768,9.0
25134,68474,48,Salumbar,280,Lasadia,3389,Kalibhit,19577,Laku Ka Leva,NaN,...,NaN,25.0,04/07/24,0.050,60000.000000,66.666667,30.000000,0.000000,15024.166667,10.0

In [9]:
hw_sorted.to_csv(r'C:\Users\R\Desktop\real_data\hw_ranking_anm.csv')